{% include 'base.html' %}

<h1>Bebidas
    
</h1><h2>Naturais</h2><p>Nossas bebidas são a melhor parte da nossa experiência.</p>

<div class="cataleigo" id="catalogo">
</div>
<h1>Drinks Especiais</h1>
<div class="cataleigo" id="catalogo">
</div>

<h1>Massas</h1>
<div class="cataleigo" id="catalogo">
</div>

<h1>Hamburguers</h1>
<div class="cataleigo" id="catalogo">
</div>

<h1>Sanduiches</h1>
<div class="cataleigo" id="catalogo">
</div>

<h1>Salgados</h1>
<div class="cataleigo" id="catalogo">
</div>

<h1>Sobremesas</h1>
<div class="cataleigo" id="catalogo">
</div>

<h1>Vips</h1>
<div class="cataleigo" id="catalogo">
</div>


<script src="static/js/catalogo.js"></script>