{% include 'base.html' %}
<form method="get" action="." id="cadastro">
    <h1>Sugestões ou Reclamações</h1>
    <div class="cataleigo" id="catalogo">
        <div class="cc-cadastro">
            <div class="ceprua">
                <label>Usuario:
                    <input name="usuario" type="text" id="usuario" value="" size="7" maxlength="9"
                        onblur="pesquisacep(this.value);" /></label><br />
                        <textarea rows="4" cols="50" name="message" id="textarea">Insira seu texto aqui</textarea>
            </div>

        </div>
    </div>
    
</form>