<!DOCTYPE html>
<html lang=pt-br>

<head>
  <title>Dagesico Automação Comercial</title>
  <meta charset="UTF-8">
  {% load static %}
  <meta name="viewport" content="width=device-width, initial-scale=0.7">
  <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/loja_style.css' %}">

</head>

<body>
  <header>
    <div class="mosaico"></div>

    <div id="logo-bar">
      <div id="logo">
        <img id="logoH" src="{% static '/img/loja/tecno.png' %}" alt="Logo da Hamburgueria">
        <h1>Dagesico Company</h1>


      </div>
      <nav>
        <div class="spacer"></div>
        <ul>

          <div class="lista-sum">
            <li>
              <a href="#" onclick="listaplanos()" alt="Cardapio" title="Cardapio">Sobre nós</a>
              <ul class="lista-planos">
                <a href="#conteudo">
                  <li>O Sistema</li>
                </a>
                <a href="#midiasocial">
                  <li>Nossas Redes Sociais</li>
                </a>
                <a href="#social">
                  <li>Nosso papel social</li>
                </a>
                <a href="#">
                  <li>Treinamento</li>
                </a>
                <a href="#">
                  <li>Marketing</li>
                </a>
                <a href="#">
                  <li>Comercio</li>
                </a>
              </ul>
          </div>
          </li>
          <li><a href="#" alt="Inicio" title="Inicio">Equipe</a></li>
          <li><a href="#" alt="Delivery" title="Delivery">Forum</a></li>
          <div class="lista-sum">
            <li>
              <a href="#" onclick="listaplanos()" alt="Cardapio" title="Cardapio">Fale Conosco</a>
              <ul class="lista-planos">
                <a href="#">
                  <li>Cliente</li>
                </a>
                <a href="#">
                  <li>Entregador</li>
                </a>
                <a href="#">
                  <li>Fornecedor</li>
                </a>
              </ul>
          </div>

        </ul>

      </nav>
  </header>

  <div class="linha-a"></div>

  <div class="menu" id="conteudo">
    <div id="sobre-conteudo">
      <div class="sobre">
        <h1>
          Está à frente de um restaurante, food truck, bar, quiosque ou outro negócio do gênero? Temos a solução
          perfeita
          para você.
        </h1>
        <h2>
          Nós oferecemos um sistema de gerenciamento completo, que te ajudará a administrar suas finanças, vendas,
          produção e estoque de maneira eficiente e fácil. Com atualizações constantes e suporte dedicado, você pode se
          concentrar no crescimento e sucesso do seu negócio
        </h2>
      </div>
      <div class="grupo-links">
        <a href="#" class="lng" id="demo">Teste Gratis</a>
        <a href="#" class="lng" id="norm">Planos de Assinatura</a>
        <a href="#" class="lng" id="norm">Licenciamentos</a>
      </div>
    </div>

</body>
<footer>
  <div class="localizacao" id="midiasocial">
    <div class="media-interessados">
      <ul>
        <h1>Midias digitais</h1>
        <li><a href="#"><img src="{% static '/img/loja/icones/tiktok.png' %}" alt="TikTok"> </a></li>
        <li><a href="#"><img src="{% static '/img/loja/icones/twitter.png' %}" alt="Twitter"></a></li>
        <li><a href="#"><img src="{% static '/img/loja/icones/instagram.png' %}" alt="Instagram"></a></li>
        <li><a href="#"><img src="{% static '/img/loja/icones/youtube.png' %}" alt="YouTube"></a></li>
        <li><a href="#"><img src="{% static '/img/loja/icones/facebook.png' %}" alt="Facebook"></a></li>
        <li><a href="#"><img src="{% static '/img/loja/icones/wp.png' %}" alt="WhtsApp"></a></li>
        <li></li>
      </ul>
    </div>


  </div>


  <div class="info" id="social">
    <div class="prop-gandas">
      <h1>Compartilhe sua experiência Conosco! <b> #CMNOTE</b></h1>
      <p>Nosso sistema oferece suporte por Automação, Live suporte e Assistencia remota.<br>
        A Versão de teste de nosso sistema, encontra-se em nossa area de <a href="#">Arquivos</a>, Baixe e teste uma
        versão e nos conte sua experiência!</p>
    </div>
  </div>
  <div class="localizacao" id="Mapa">
    <div class="media-interessados">
      <h1>Localização</h1>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d5198.948307852478!2d-43.336599335236784!3d-22.868640369052475!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1675938881857!5m2!1spt-BR!2sbr"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
  </div>
  <div class="dados-lojst" id="Endereco">
    <img src="{% static '/img/loja/tecno.png' %}" alt="Logo da Hamburgueria">
    <div class="sede-escrt">
      <p>Escritório</p>
      <p>Rua Conselheiro Galvão, 210 - Madureira</p>
      <p>Rio de Janeiro - RJ</p>

    </div>
    <div id="Vagas" class="contatos-interessados">
      <ul>
        <h1>Vagas e Curriculos</h1>
        <li><a href="#"><img src="{% static '/img/loja/icones/linkedin.png' %}" alt="LinkedIn"> </a></li>
        <li><a href="#"><img src="{% static '/img/loja/icones/indeed.png' %}" alt="Indeed"> </a></li>

        <li></li>
      </ul>
    </div>
  </div>
</footer>

</html>
<script>
  function listaplanos() {
    var lista = document.querySelector("lista-planos");
    lista.classList.toggle('lista-planos-ativado')
  }
</script>