@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Anton&family=Archivo+Narrow:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Indie+Flower&family=Lobster&family=Quicksand:wght@300&display=swap');


body {
  background-color: rgb(220, 237, 215);
}

.mosaico {
  position: relative;
  background-image: url("/static/img/itens/plateleira.png");
  background-size: 1909px;
  width: auto;
  margin-bottom: -65px;
  height: 133px;
  z-index: 0;
}

header {

  background-color: #e78e09;
}

header .login {
  padding: -19px;
  position: relative;
  float: right;
  right: 468px;
  top: -76px;
  transform: scale(1.9);
}

header .login a {
  background-color: #B91A14;
  border-radius: 10px;
  color: white;
  font-family: 'Archivo Narrow', cursive;
  font-weight: 800;
  padding: 5px;
  text-decoration: none;
}

header .login a:hover {
  background-color: black;
  transition: 1s;
}

#logo-bar {
  margin: 15px;
}

#logo-bar #logo img {
  z-index: 3;
  width: 150px;
  position: absolute;
  text-transform: capitalize;
}

#logo-bar #logo h1 {
  font-family: "Aboreto";
  font-size: 57px;
  font-weight: 200;
  margin: 0px 156px;
  width: 487px;
  position: relative;
  color: #ffffff;
  background-color: #1f1e1d;
  border-radius: 20px;
  padding: 8px;
  z-index: 1;
}

#logo-bar #info {
  margin: 0px 156px;
}

header nav {
  position: relative;
  background-color: #B91A14;
  height: 90px;
  text-align: center;
  z-index: 1;
}

header nav ul {
  float: right;
  display: flex;
  height: 20px;
  margin-right: 220px;
}

header nav ul li {
  padding: 10px;
}

header nav ul li a {
  color: white;
  font-size: 30px;
  font-family: "Aboreto";
  font-weight: bold;
  text-decoration: none;
  text-shadow: 2px 2px 1px #1f1e1d;

}

.painel {
  background-color: #B91A14;
}

.painel h1 {
  background-color: rgb(33, 33, 33);
  color: #ffffff;
  font-family: "Quicksand";
  font-size: 60px;
  background-blend-mode: screen;
  padding: 76px;
  position: relative;
  top: -40px;
  text-shadow: 3px 3px 1px black;
  text-align: center;
  z-index: 1;
}

div section section {
  text-align: center;
  display: inline-table;
  max-width: min-content;
}
div section section h1{
  text-transform: capitalize;
  border-radius: 50px;
  text-align: center;
}
div section section div p{
  text-align: center;
  text-transform: capitalize;
  font-family: 'Archivo Narrow', cursive;
  font-weight: 200;
  font-size: 29px;
  background-color: #91c92bd0;
  height: 278px;
  padding: 8px 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 58px;
  border-bottom-right-radius: 58px;
  
}
div section section div p h2{
  text-align: center;
  font-family: 'Archivo Narrow', cursive;
  font-weight: 800;
  font-size: 30px;
  position: relative;
  bottom: -15%;
  background-color: whitesmoke;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 10px;
  width: 50%;
}
#bebidas section div {
  max-width: 500px;
  border-radius: 67px;
  background-color: #eaf589;
  margin: 19px 1px;
  padding: 17px;
}
#bebidas section div img {
  height: 480px;
  width: 309px;
}

#hamburguers section div {
  max-width: 500px;
  border-radius: 67px;
  background-color: #f08001;
  margin: 10px 5px 30px 5px;
  padding: 17px;
}
#hamburguers section div img {
  height: 390px;
  width: 309px;
}


#sobremesas section div {
  max-width: 500px;
  border-radius: 67px;
  background-color: #f08001;
  margin: 10px 5px 30px 5px;
  padding: 17px;
}
#sobremesas section div img {
  height: 209px;
  width: 359px;
}


#titulo-grupo-produtos {
  text-transform: capitalize;
  background-size: 20px;

}
#catalogo{
  margin: auto;
  width: 100%;
}
#catalogo section{
  margin-bottom: 90px;
  margin-left: 20px;
}
.plateleira {
  width: fit-content;
  height: 400px;
}

.catlog {
  background-color: #1f1e1d;
  border-style: groove;
  border-width: 4px;
  /* height: 600px; */
  display: inline-block;
  padding: 150px;
  text-align: center;
}

.categoria-especiais {
  top: -466px;
}

.desc-t {
  background-color: whitesmoke;
  font-size: 25px;
  text-align: center;
  padding: 10px;

}

.loginx {
  background-color: #B91A14;
  /* text-align: center; */
  border-radius: 20px;
  padding: 126px;
  width: min-content;
}

p a {
  color: #1f1e1d;
  text-decoration: dashed;
}

.cat-fav {
  position: relative;
  top: -252px;
  /* height: 811px; */
  z-index: 4;
}

#produto-favorito {
  position: relative;
}

.exibi0 {
  position: relative;
  width: 600px;
  z-index: 20;
}

.exibi1 {
  position: relative;
  width: 683px;
  z-index: 21;
  left: -441px;
}

.exibi2 {
  position: relative;
  width: 400px;
  z-index: 20;
  left: -876px;
  top: -191px;
}

.exibi3 {
  position: relative;
  width: 819px;
  z-index: 19;
  left: 665px;
  top: -494px;
}

.exibi4 {
  width: 600px;
}

.exibi5 {
  width: 600px;
}